.container {
  position: relative;
  padding: 10px;
  text-align: center;
  transition: opacity 0.5s ease-in-out;
}

.title {
  padding: 20px;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: clamp(30px, 5.5vw, 20vw);
  background-color: white;
  color: black;
  border-radius: clamp(10px, 1vw, 1vw);
  display: inline-block;
  flex:1;
}

.counterContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex:1;
}
